<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609986825115-2i7qifkadcjhg935uqsb2qh5l64sor9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609986825115-2i7qifkadcjhg935uqsb2qh5l64sor9n</string>
	<key>API_KEY</key>
	<string>AIzaSyBiK2AqbLeLg3CX9S29ZF4JNch39ffZ3yw</string>
	<key>GCM_SENDER_ID</key>
	<string>609986825115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CE-Broker.ProofOfConcept</string>
	<key>PROJECT_ID</key>
	<string>testanalytics-1afdb</string>
	<key>STORAGE_BUCKET</key>
	<string>testanalytics-1afdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:609986825115:ios:442c64a8c3c77986f56f3e</string>
	<key>DATABASE_URL</key>
	<string>https://testanalytics-1afdb.firebaseio.com</string>
</dict>
</plist>
